
*.jpg
traningData.yml
*.txt
haarcascade_frontalface_default.xml
Face recognition GUI.iml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/LBPH-Face-Recognition-GUI.iml
.idea/workspace.xml
__pycache__/traning.cpython-310.pyc
__pycache__/load_model_video.cpython-310.pyc
__pycache__/face_recognition.cpython-310.pyc
*.pyc
*.xml
